@font-face {
    font-family: "LXGW-Wenkai-TC";
    src:
        url("/fonts/LXGWWenKaiTC-Regular.woff2") format("woff2"),
        url("/fonts/LXGWWenKaiTC-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;

    /* Yes, this is a very specific Unicode character that most system CJK
     * fonts don't seem to include. This is a hack-y way of making sure it will
     * show up (without having to use the font's whole character set). I'll
     * probably have to expand this more later */
    unicode-range: U+20895;
}

/* I just took the default font-family from Bootstrap, and modified it to
 * include one custom font. I also rearranged this a bit */
body {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        Arial,
        "Liberation Sans",
        sans-serif,
        "LXGW-Wenkai-TC",
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

.play-teochew {
    cursor: pointer;
    color: white;
    border-radius: 50%;
    height: 1em; width: 1em;
    background-color: midnightblue;
    display: inline-block;
    line-height: 1;
    text-align: center;
}

/* Make the audio icon larger in tables */
.table-responsive .play-teochew {
    font-size: 1.5em;
}

/* All the dark mode settings */

.dark-mode body {
    background-color: #222;
    color: #ddd;
}

/* uhhh, I copied these color values from bootstrap's css */
.dark-mode hr {
    border-color: #6c757d;
}

.dark-mode .navbar,
.dark-mode .navbar-brand {
    /* ugh bootstrap, making me use !important here */
    background-color: #343a40 !important;
    color: #fff !important;
}

.dark-mode .navbar-nav .nav-link {
    color: #f8f9fa !important;
}

.dark-mode #translate,
.dark-mode .list-group-item:not(.list-group-item-primary) {
    border-color: #6c757d;
    background-color: #343a40;
    color: #ddd;
}

.dark-mode td, .dark-mode th, .dark-mode thead th {
    border-color: #454d55;
}

.dark-mode table {
    background-color: #343a40;
    color: #fff;
}

.dark-mode .table-secondary > th,
.dark-mode .table-secondary > td {
    background-color: #6c757d;
}

#toggle-off, .dark-mode #toggle-on {
    display: unset;
}

.dark-mode #toggle-off, #toggle-on {
    display: none;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
